<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{500,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{600,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{700,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{800,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{900,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1000,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1100,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1200,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1300,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1400,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1500,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1600,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1700,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1800,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1900,0},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{0,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{100,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{200,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{300,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{400,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{500,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{600,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{700,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{800,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{900,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1000,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1100,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1200,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1300,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1400,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1500,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1600,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1700,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1800,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1900,144},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{0,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{100,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{200,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{300,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{400,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{500,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{600,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{700,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{800,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{900,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1000,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1100,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1200,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1300,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1400,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1500,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1600,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1700,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1800,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tile059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,144}</string>
                <key>spriteSourceSize</key>
                <string>{100,144}</string>
                <key>textureRect</key>
                <string>{{1900,288},{100,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cards.png</string>
            <key>size</key>
            <string>{2000,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1873da21650348650ed2352b4c9d1e7e:269c2286138d93746e5a15503ba90869:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>cards.png</string>
        </dict>
    </dict>
</plist>
