<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-01_run_00ready_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-18,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{345,1},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,-31}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{865,1},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-32}</string>
                <key>spriteSize</key>
                <string>{170,304}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1209,1},{170,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-34}</string>
                <key>spriteSize</key>
                <string>{170,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1559,1},{170,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-31}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1037,1},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,-26}</string>
                <key>spriteSize</key>
                <string>{172,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{517,1},{172,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-19}</string>
                <key>spriteSize</key>
                <string>{172,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{691,1},{172,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,-11}</string>
                <key>spriteSize</key>
                <string>{176,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1381,1},{176,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_00ready_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{186,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1731,1},{186,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_ready.png</string>
            <key>size</key>
            <string>{1918,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41e62990ca002fa55ab52c8c1b51d1a5:dfde2587c38bdbf0a39486bf9ec396cb:4be68219650174ccba2a06fa0ceaab9b$</string>
            <key>textureFileName</key>
            <string>player_ready.png</string>
        </dict>
    </dict>
</plist>
