<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-00_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{345,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{861,1},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{861,317},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-28}</string>
                <key>spriteSize</key>
                <string>{170,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,319},{170,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-28}</string>
                <key>spriteSize</key>
                <string>{170,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{173,319},{170,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{689,319},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{689,631},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-30}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,633},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-30}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{173,633},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-30}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{345,633},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-30}</string>
                <key>spriteSize</key>
                <string>{170,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{517,633},{170,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{861,633},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1033,633},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-28}</string>
                <key>spriteSize</key>
                <string>{170,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{345,319},{170,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-28}</string>
                <key>spriteSize</key>
                <string>{170,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{517,319},{170,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1033,1},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1033,317},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{517,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-00_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{689,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_idle.png</string>
            <key>size</key>
            <string>{1204,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e51558d754f2565fda61ac0bdbd8db56:ef5bcd977a9419bec008862a2b8d52ce:a98e383927f56447132f9891c9af7325$</string>
            <key>textureFileName</key>
            <string>player_idle.png</string>
        </dict>
    </dict>
</plist>
