<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-01_run_02finish_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{186,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1727,1},{186,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-13,-11}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1381,1},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-19}</string>
                <key>spriteSize</key>
                <string>{172,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{517,1},{172,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,-26}</string>
                <key>spriteSize</key>
                <string>{172,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{691,1},{172,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-9,-31}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{865,1},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-8,-34}</string>
                <key>spriteSize</key>
                <string>{170,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1555,1},{170,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-32}</string>
                <key>spriteSize</key>
                <string>{170,304}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1209,1},{170,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-15,-31}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1037,1},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-18,-29}</string>
                <key>spriteSize</key>
                <string>{170,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{345,1},{170,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-27}</string>
                <key>spriteSize</key>
                <string>{170,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{173,1},{170,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_02finish_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-24,-26}</string>
                <key>spriteSize</key>
                <string>{170,316}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_finish.png</string>
            <key>size</key>
            <string>{1914,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7867e6b9cbdc5c055459693126ca34a:b497c651875baae3171fdd59179e3401:a98add2c305fec970ef3e50a4d400e2e$</string>
            <key>textureFileName</key>
            <string>player_finish.png</string>
        </dict>
    </dict>
</plist>
