<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skeleton-01_run_01start_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{186,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,631},{186,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-19,-10}</string>
                <key>spriteSize</key>
                <string>{184,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{195,627},{184,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-13,-17}</string>
                <key>spriteSize</key>
                <string>{178,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{909,1},{178,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-12,-25}</string>
                <key>spriteSize</key>
                <string>{182,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{739,621},{182,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-11,-30}</string>
                <key>spriteSize</key>
                <string>{184,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{565,311},{184,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,-31}</string>
                <key>spriteSize</key>
                <string>{178,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{923,619},{178,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-13,-33}</string>
                <key>spriteSize</key>
                <string>{174,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{563,625},{174,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-19,-33}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1109,309},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-26,-33}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1261,1},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-35,-31}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1089,1},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-43,-22}</string>
                <key>spriteSize</key>
                <string>{180,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{181,1},{180,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-52,-10}</string>
                <key>spriteSize</key>
                <string>{182,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{363,1},{182,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-57,1}</string>
                <key>spriteSize</key>
                <string>{180,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{381,627},{180,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-53,-5}</string>
                <key>spriteSize</key>
                <string>{186,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{547,1},{186,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-49,-13}</string>
                <key>spriteSize</key>
                <string>{194,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{195,315},{194,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-50,-21}</string>
                <key>spriteSize</key>
                <string>{192,312}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,317},{192,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-56,-27}</string>
                <key>spriteSize</key>
                <string>{178,314}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-56,-29}</string>
                <key>spriteSize</key>
                <string>{172,310}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{391,313},{172,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-48,-31}</string>
                <key>spriteSize</key>
                <string>{172,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{935,309},{172,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-39,-33}</string>
                <key>spriteSize</key>
                <string>{172,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1283,305},{172,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-31,-33}</string>
                <key>spriteSize</key>
                <string>{170,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1283,609},{170,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-25,-30}</string>
                <key>spriteSize</key>
                <string>{170,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1103,617},{170,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-20,-22}</string>
                <key>spriteSize</key>
                <string>{172,308}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{735,1},{172,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-12}</string>
                <key>spriteSize</key>
                <string>{182,306}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{751,311},{182,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skeleton-01_run_01start_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{186,298}</string>
                <key>spriteSourceSize</key>
                <string>{400,368}</string>
                <key>textureRect</key>
                <string>{{1,631},{186,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_start.png</string>
            <key>size</key>
            <string>{1456,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:300fc618a0406dc239293d0ddda525b7:400c00ad58147066db9af9377efdf78a:79609b1b0ea0e82f5aa9d3a1226f0b78$</string>
            <key>textureFileName</key>
            <string>player_start.png</string>
        </dict>
    </dict>
</plist>
